body {
  font-family: "Montserrat", sans-serif;
  font-size: 90%;
  font-weight: 400;
  color: #293651;
}

header {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  margin-left: 25%;
  margin-right: 25%;
}

.lettergreen {
  color: #16c4bb;
  font-weight: 400;
  letter-spacing: 5px;
  margin-top: 50px;
  font-size: 30px;
}

.name {
  letter-spacing: 2px;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: white;
  width: 40%;
}

.botao {
  background-color: #00a78e;
  padding: 15px;
  border-radius: 5px;
  border-color: #00a78e;
  width: 200px;
  box-shadow: none;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

.imagem {
  margin-top: 5%;
  text-align: center;
  object-fit: cover;

}

.conteiner1 {
  margin-inline: 33%;
}

.why {
  font-size: 200%;
  text-align: center;
}

.titulos_porcentos {
  display: inline-block;
  width: 100%;
  margin-inline: 30%;
}

progress {
  width: 40%;
  accent-color: #00a78e;
  height: 20px;
}

.texto_why {
  font-size: 100%;
}

.conteiner2 {
  background-color: rgb(245, 245, 245);
  padding: 10% 33%;
  margin-top: 5%;
}

.titulo {
  text-align: center;
  margin-bottom: 20%;
  padding: 5%;
  font-size: 200%;
}

.caixas {
  text-align: center;
  display: inline-block;
}

.caixas_ind {
  background-color: white;
  text-align: center;
  box-shadow: 10px 10px 15px #c6c6c6;
  border-radius: 4%;
  margin: 20px;
  line-height: 120%;
  font-size: 22px;
  padding: 6px;
  font-size: 20px;
}

.projeto_caixa > h3 {
  margin: 0;
  padding: 0;
}

.conteiner3 {
  background-color: #00a78e;
  margin-top: 5%;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  padding: 2%;
  border-radius: 15px;
  display: inline-block 20%;
}

.conteiner3 > h1 {
  margin: 0;
  padding: 0%;
}

.conteiner4 {
  background-color: rgb(255, 255, 255);
  margin-top: 10%;
  text-align: center;
  /* padding: 10% 33%; */
}

.logos {
  padding-top: 30px;
}

.template {
  color: rgb(214, 214, 214);
}

.ancoras_end {
  color: #293651;
}
