header {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  margin-left: 25%;
  margin-right: 25%;
}

.lettergreen {
  color: #16c4bb;
  font-weight: 400;
  letter-spacing: 5px;
  margin-top: 50px;
  font-size: 30px;
}

.name {
  letter-spacing: 2px;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: white;
}

.botao {
  background-color: #00a78e;
  padding: 15px;
  border-radius: 5px;
  border-color: #00a78e;
  width: 200px;
  box-shadow: none;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

.imagem {
  margin-top: 30px;
  text-align: center;
}

.why_contratar {
  text-align: center;
  font-size: 40px;
  color: grey;
  margin-right: 150px;
}

.linha_why_1 {
  display: inline-block;
  background-color: #00a78e;
  border-radius: 20px;
  width: 100px;
  height: 5px;
  margin-left: 37.5%;
}

.linha_why_2 {
  display: inline-block;
  background-color: #00a78e;
  border-radius: 20px;
  width: 15px;
  height: 5px;
}

.linha_why_3 {
  display: inline-block;
  background-color: #00a78e;
  border-radius: 20px;
  width: 5px;
  height: 5px;
}

.texto_why {
  text-align: center;
  font-size: 25px;
  margin-left: 37.5%;
  margin-right: 37.5%;
}

.titulos_why {
  color: grey;
  text-align: left;
  margin-left: 37.5%;
  margin-right: 37.5%;
}

.barra_porcent {
  background-color: #d7dfdd;
  border-radius: 13px;
  padding: 3px;
  width: 625px;
  text-align: center;
}
.line1_porcent {
  background-color: #00a78e;
  width: 30%;
  height: 10px;
  border-radius: 10px;
}
.line2_porcent {
}
.line3_porcent {
}
.line4_porcent {
}

.projetos {
  text-align: center;
  font-size: 40px;
}
.line_projetos {
  display: inline-block;
  background-color: #00a78e;
  border-radius: 20px;
  width: 100px;
  height: 5px;
}
