header {
  text-align: left;
  padding-inline: 30%;
  text-align-last: auto;
}

.lettergreen {
  color: #16c4bb;
  font-weight: 400;
  letter-spacing: 5px;
}

/* mudar enzo, diminuir classes*/
.name {
  font-weight: 800;
}

.subtitle {
  letter-spacing: 5px;
}

.greytext {
  color: rgb(122, 122, 122);
}
